[class*="st-"] {
	font-size: 12px;
}

[role="listbox"],
[role="option"] {
    background: #ffffff !important;
    margin: 0 !important;
}

.stVerticalBlock {
    gap: 0 !important; 
    margin: 0 !important;
    padding: 0 !important;
}


.stVerticalBlock .form-group label {
    font-size: 12px;
    color: #333333;
    font-weight: 500;
}   

.stVerticalBlock .form-group {
    display: flex;  
    flex-direction: column;
    gap: 0; 
    margin-bottom: 1.5rem ;
}

.custom-input{
    padding: 0.5rem;
    margin-bottom: 1rem;
    border:none;
    border-radius: 8px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(204, 204, 204, 0.5);
    color: #777777;
    font-size: 12px; 
}

.option{
    font-size: 12px;
    color: #777777;
    background-color: #ffffff;
    border:none;
}


.warning {
    position: fixed;
    top: 3rem;
    right: 1rem;
    z-index: 1000;
    color: rgba(133, 100, 4, 0.9);
    background-color: rgba(255, 255, 255, 0.3) !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.4) !important;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    padding: 1rem;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 14px;
    animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

