[class*="st-"] {
	font-size: 12px;
}

[role="listbox"],
[role="option"] {
    background: #ffffff !important;
    margin: 0 !important;
}

.stVerticalBlock {
    gap: 0 !important; 
    margin: 0 !important;
    padding: 0 !important;
}


.stVerticalBlock .form-group label {
    font-size: 12px;
    color: #333333;
    font-weight: 500;
}   

.stVerticalBlock .form-group {
    display: flex;  
    flex-direction: column;
    gap: 0; 
    margin-bottom: 1.5rem ;
}

