[class*="st-"] {
	font-size: 12px;
}

[role="listbox"],
[role="option"] {
    background: #ffffff !important;
    margin: 0 !important;
}

.stVerticalBlock {
    gap: 0 !important; 
    margin: 0 !important;
    padding: 0 !important;
}


.stVerticalBlock .form-group label {
    font-size: 12px;
    color: #333333;
    font-weight: 500;
}   

.stVerticalBlock .form-group {
    display: flex;  
    flex-direction: column;
    gap: 0; 
    margin-bottom: 1.5rem ;
}

.custom-input{
    padding: 0.5rem;
    margin-bottom: 1rem;
    border:none;
    border-radius: 8px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(204, 204, 204, 0.5);
    color: #777777;
    font-size: 12px; 
}

.option{
    font-size: 12px;
    color: #777777;
    background-color: #ffffff;
    border:none;
}
