
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* --- MOCK UPLOADER --- */
.uploader-mock {
	border: 2px dashed #D0D0D0;
	border-radius: 12px;
	background-color: #FAFAFA;
	padding: 1rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: all 0.3s;
	cursor: pointer;
    margin-top: 1rem;
}
.uploader-mock:hover {
	border-color: #FFD751;
	background-color: #FFFDF0;
}
.uploader-icon { margin-bottom: .5rem; }
.uploader-text {
	font-weight: 500;
	color: #333;
	font-size: 1rem;
	margin: 0.25rem 0;
}
.uploader-button {
	background-color: #333333;
	color: #FFFFFF;
	border-radius: 8px;
	padding: 0.75rem 1.5rem;
	font-weight: 600;
	cursor: pointer;
	margin-top: .5rem;
}

/* --- INFO --- */
.info-container {
	display: flex;
	justify-content: space-between;
	font-size: 0.8rem;
	color: #888;
    margin-top: .1rem;
	padding: 0 0.5rem;
}


/* --- MODAL --- */
.modal-overlay {
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	background: rgba(0,0,0,0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}
.modal-content {
	background: #FFFFFF;
	border-radius: 20px;
	padding: 2.5rem 3rem;
	text-align: center;
	-webkit-box-shadow: 0 8px 40px 0 rgba(0,0,0,0.35);
	box-shadow: 0 8px 40px 0 rgba(0,0,0,0.35);
	width: 380px;
}
.modal-content h3 { font-size: 22px; font-weight: 600; margin-bottom: 1rem; }
.modal-content p { font-size: 15px; color: #555; margin-bottom: 1.5rem; }
.modal-content button {
	background-color: #FFD751;
	color: #000;
	border: none;
	border-radius: 8px;
	padding: 0.6rem 1.5rem;
	font-weight: 600;
	cursor: pointer;
}
.modal-content button:hover { background-color: #FFD751; }
