@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* --- MOCK UPLOADER --- */
[data-testid="stFileUploaderDropzone"] {
	position: relative;
	border: 2px dashed #888;
	border-radius: 12px;
	padding: 40px;
	text-align: center;
	background-color: #fafafa;
	transition: background-color 0.2s ease;
	cursor: pointer;
	height: 200px;
}
[data-testid="stFileUploaderDropzone"]:hover {
	background-color: #fcebb2;
	border: 2px dashed #FFD751;
}
.uploader-button {
	background-color: #111;
	color: #fff;
	padding: 8px 18px;
	border-radius: 8px;
	display: inline-block;
	font-weight: 600;
	margin-top: 5px;
}

[data-testid="stFileUploaderDropzoneInstructions"] span{
	font-size: 0.9rem;
	color: #111;
	align-items: left;
	justify-content: left;
	width : fit-content;
}
.st-emotion-cache-zh4rd8.e7nj0r42{
	visibility: hidden;
	width: 0;
}

h5{
	font-family: poppins, sans-serif !important;
	font-weight: 600 !important;
}

[data-testid="stImage"] img:not([data-testid="stSidebar"] *){
	height: 300px !important;
	border-radius: 12px;
	border: 1px solid #ddd;
	margin-top:1rem;
}	

[data-testid="stImageContainer"] img:not([data-testid="stSidebar"] *){
    height: auto;
    background: white;	
    align-items: center;	
    justify-content: center;
}	

[data-testid="stDataFrameResizable"] {
    height: 300px !important;      
    max-height: 300px !important;  

}


[data-testid="stDataFrame"] {
    border: none !important; 
    margin-top: 1rem !important; 
}


[data-testid="stButton"] div { 
    width: 100vh;
    height: 100%;
}
/*DIALOG*/
[data-testid^="stBaseButton-tertiary"]:not([data-testid="stSidebar"] *) {
    width: 100% !important;   
	text-decoration: underline !important;
    font-size: 2.5rem !important;
    height: auto !important;
    margin-top: 20px !important;
}

