[data-testid="stTextInput"] label  {
    margin-bottom: 0px !important;
}
button[kind="primary"]:not([data-testid="stSidebar"] *):not([data-testid="stDialog"] *) {
	background: #FFE451;
    color: #000000;
	border:none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.06);
	width: 100% !important;
    margin-top: 0 !important;
}
button[kind="secondary"]:not([data-testid="stSidebar"] *):not([data-testid="stDialog"] *) {
	background: #ffffff;
	border: 1px solid #000000 !important;
	color: #000000;
	box-shadow: 0 3px 6px rgba(0,0,0,0.06);
	width: 100% !important;
    margin-top: 0 !important;
}
 
.warning {
    position: fixed;
    top: 3rem;
    right: 1rem;
    z-index: 1000;
    color: rgba(133, 100, 4, 0.9);
    background-color: rgba(255, 255, 255, 0.3) !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.4) !important;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    padding: 1rem;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 14px;
    animation: slideIn 0.5s ease-out;
}


.stCheckbox, .stCheckbox > label, .stCheckbox input { display:flex !important; align-items:center !important; justify-content:center !important; margin: 0 !important; padding: 0 !important; height: 18px !important; }
