@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html, body {
	font-family: 'Poppins', sans-serif;
	background-color: #F0F2F6;
	color: #1a1a1a;
	height: 100%;
	overflow: hidden;
}
[class*="st-"] {
	font-family: 'Poppins', sans-serif;
	color: #1a1a1a;
	background: transparent;
}
#MainMenu, header, footer {visibility: hidden;}

.page-header {
	font-size: 1.5rem;
	font-weight: 700;
	margin: 0;
	display: inline-block;
	transform: translateY(-36px);
	z-index: 25;
}


section.main > div.block-container,
div.stMainBlockContainer.block-container,
div.block-container.st-emotion {
	height: calc(100vh - 4rem);
	box-sizing: border-box;
	display: flex !important;
	flex-direction: column !important;
	justify-content: flex-start;
	align-items: stretch;
	background: #ffffff !important;
	border-radius: 18px !important;
	-webkit-box-shadow: 0 6px 18px rgba(0,0,0,0.2), 0 18px 50px rgba(0,0,0,0.2) !important;
	box-shadow: 0 6px 18px rgba(0,0,0,0.2), 0 18px 50px rgba(0,0,0,0.2) !important;
	border: 1px solid rgba(0,0,0,0.03) !important;
	margin: 2rem!important;
    padding-top: 5rem !important;
    width: calc(100% - 4rem) !important;
	z-index: 20 !important;
	overflow: hidden;
	position: relative;
}



div.stApp, section.main, main, body {
	overflow: hidden !important;
}
aside[role="complementary"],
div[data-testid="stSidebar"],
div.css-1lsmgbg, 
div.stApp, section.main {
	background: #ffffff !important;
}
@media (max-width: 1100px){
	.content-card {padding: 2.25rem 2rem 3rem 2rem;}
	.page-header {font-size: 2.1rem;}
}

/* STEPPER */
.stepper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 1rem;
	position: relative;
	padding-top: 0px;
}
.stepper::before {
	content: '';
	position: absolute;
	top: 30px;
	left: 5%;
	right: 5%;
	height: 2px;
	background-color: #E0E0E0;
	z-index: 0;
}
.step {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	z-index: 1;
	width: 100px;
}
.circle {
	height: 60px;
	width: 60px;
	box-sizing: border-box;
	border-radius: 50%;
	border: 2px solid #E0E0E0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: 1rem;
	margin-bottom: 0.5rem;
	background-color: #fff;
	color: #A0A0A0;
}
.step-text { font-size: 0.9rem; font-weight: 500; color: #888; }
.step.done .circle { background-color: #000; border-color: #000; color: #FFF; }
.step.active .circle { border-color: #000; color: #000; }
.step.done .step-text, .step.active .step-text { color: #000; }

/* boton primario */
.stVerticalBlock:has(button[kind="primary"]) {
	align-items: flex-end !important;
	margin: 0 !important;
}

button[kind="primary"] {
	background: #FFE451;
    color: #000000;
	border:none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.06);
    min-width: 130px;
	margin-top: 1.5rem;
}
button[kind="primary"]:hover {
	transform: scale(0.98);
	background: #FFD626;
}

/* boton secundario */
button[kind="secondary"] {
	background: #ffffff;
	border: 1px solid #000000 !important;
	color: #000000;
	box-shadow: 0 3px 6px rgba(0,0,0,0.06);
	min-width: 130px;
	margin-top: 1.5rem;
}
button[kind="secondary"]:hover {
	background: #CCCCCC;
    color: #000000;
    border: 1px solid #000000;
    box-shadow: 0 3px 6px rgba(0,0,0,0.06);
    min-width: 130px;
}

.spacer { flex: 1 1 auto; min-height: 0; }