[data-testid="stTextInput"] label  {
    margin-bottom: 0px !important;
}


[data-testid^="stBaseButton-primary"]:not([data-testid="stSidebar"] *) {
    width: 100% !important;   
    font-size: 2.5rem !important;
    height: auto !important;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
}
