/* Botones primarios fuera del stDialog (y fuera del sidebar) */
[data-testid^="stBaseButton-primary"]:not([data-testid="stSidebar"] *):not([data-testid="stDialog"] *) {
    background: #FFE451;
    color: #000000;
	border:none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.06);
	width: 100px;
    transform: translateY(-20px);
	margin: 0;
	display: inline-block;
}
[data-testid^="stBaseButton-primary"]:not([data-testid="stSidebar"] *):not([data-testid="stDialog"] *):hover {
    background: #FFD626;
    transform: translateY(-20px);
}

/*secundarios*/
[data-testid^="stBaseButton-secondary"]:not([data-testid="stSidebar"] *):not([data-testid="stDialog"] *) {
	background: #FFFFFF;
	color: #000000;
	box-shadow: 0 3px 6px rgba(0,0,0,0.06);
	transform: translateY(-20px);
	margin: 0;
	display: inline-block;
	width: 100% !important;
}
[data-testid^="stBaseButton-secondary"]:not([data-testid="stSidebar"] *):not([data-testid="stDialog"] *):hover {
	background: #F0F0F0;
	transform: translateY(-20px);
}

[data-testid="stButton"] div:not([data-testid="stSidebar"] *):not([data-testid="stDialog"] *):not([data-testid="stBaseButton-tertiary"] *) { 
    display: flex; 
	justify-content: center;
    height: 100%;
}

/* Botones primarios dentro del stDialog */
[data-testid="stDialog"] [data-testid^="stBaseButton-primary"] {
    background: #FFE451;
    color: #000;
    border: none;
}
[data-testid="stDialog"] [data-testid^="stBaseButton-primary"]:hover {
    background: #FFD626;
}


.stHorizontalBlock:has(button[kind="primary"]) > div:last-child {
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center !important;
    width: 100% !important;
}

.stHorizontalBlock:has(button[kind="primary"]) > div:last-child > div {
    display: flex !important;
    justify-content: flex-end !important;
    width: 100% !important;
}

.stHorizontalBlock:has(button[kind="primary"]) > div:last-child > div > div {
    display: flex !important;
    justify-content: flex-end !important;
    width: 100% !important;
}

.stHorizontalBlock:has(button[kind="primary"]) button[kind="primary"] {
    white-space: nowrap !important;
    min-width: max-content !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 8px 16px !important;
    margin-left: auto !important;
}

.stHorizontalBlock:has(button[kind="primary"]) button[kind="primary"] p {
    text-align: center !important;
    width: 100% !important;
}

[data-testid="stElementContainer"]:not(:has(.page-header)):not([data-testid="stSidebar"] *):not([data-testid="stDialog"] *):not([data-testid="stButton"] *){
	display: flex !important;
	justify-content: flex-end !important;
	align-items: center !important;
	width: 200vh;
}

/* Estilos para el título de la página */
.page-header {
    font-size: 1.5rem;
	font-weight: 700;
	margin: 0;
	display: inline-block;
	transform: translateY(-20px);
	z-index: 25;
	width: fit-content !important;
}

/*drag and drop*/
[data-testid="stFileUploaderDropzone"] {
	position: relative;
	border: 2px dashed #888;
	border-radius: 12px;
	padding: 40px;
	text-align: center;
	background-color: #fafafa;
	transition: background-color 0.2s ease;
	cursor: pointer;
	height: 200px;
}
[data-testid="stFileUploaderDropzone"]:hover {
	background-color: #fcebb2;
	border: 2px dashed #FFD751;
}
.uploader-button {
	background-color: #111;
	color: #fff;
	padding: 8px 18px;
	border-radius: 8px;
	display: inline-block;
	font-weight: 600;
	margin-top: 5px;
}

[data-testid="stFileUploaderDropzoneInstructions"] span{
	font-size: 0.9rem;
	color: #111;
	align-items: left;
	justify-content: left;
	width : fit-content;
}


[data-testid="stImage"] img:not([data-testid="stSidebar"] *){
	height: 200px !important;
	border-radius: 12px;
	border: 1px solid #ddd;
	margin-top:1rem;
}	

[data-testid="stImageContainer"] img:not([data-testid="stSidebar"] *){
    height: auto;
    background: white;	
    align-items: center;	
    justify-content: center;
}	


[data-testid="stBaseButton-tertiary"]:not([data-testid="stSidebar"] *) {
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #111111;
	margin-top: 1rem;
	padding: 8px 18px;
	display: inline-block;
}

[data-testid="stBaseButton-tertiary"]:not([data-testid="stSidebar"] *):not([data-testid="stDialog"] *) {
	color: #000000;
	width: 5px;
	transform: translateY(-20px);
	margin: 0;
	display: inline-block;
	border: none !important;
}

[data-testid="stMainBlockContainer"] > div:first-child {
	transform: translateY(-20px);
}