body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

[data-testid="stImageContainer"] img {
    border-radius: 50%;
    height: auto;
    margin: 20px;
    background: white;
    align-items: center;
    justify-content: center;
}

[data-testid="stFullScreenFrame"]{
    align-items: center;
    justify-content: center;
    overflow: hidden;
    display: flex;
}

[data-testid="stSidebarContent"] {
    background-color: #111;
    color: white;
    padding: 0;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.user-profile {
    text-align: center;
}

.user-profile p {
    margin: 5px 0 0;
}

.username {
    margin: 10px 0 0;
    font-weight: 600;
    font-size: 1.2em;
    color:#ffffff;
}

.role {
    margin: 0;
    font-size: 0.9em;
    color: #aaa;
}

.nav-item-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 0 20px;
    margin-bottom: 5px;
    height: 1rem; 
    overflow: hidden;
}


[data-testid="stSidebar"] button[kind="primary"] {
    width: 212px;
    text-align: left;
    border: none !important;
    background-color: white !important; 
    color: black !important; 
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.1s ease;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-testid="stSidebar"] button[kind="secondary"] {
    width: 210px;
    background: transparent;
    border: none !important;
    color: white !important; 
    box-shadow: none;
    text-align: left;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-testid="stSidebar"] button[kind="secondary"]:hover{
    width: 210px;
    background: white !important;
    border: none !important;
    color: black !important; 
    box-shadow: none;
    text-align: left;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-testid="stSidebar"] button[kind="secondary"] p {
    background-color: #111; 
    color: white;
    padding: 0;
    height: 100%;
    overflow: hidden; 
    margin: 0;
}
[data-testid="stSidebar"] button[kind="secondary"]:hover p {
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 0;
    height: 100%;
    overflow: hidden; 
    margin: 0;
}
