/* ======= PALETA DE COLORES ======= */
:root {
  --color-bg: #FFFFFF;
  --color-dark: #333333;
  --color-accent: #FFD751;
  --color-light-gray: #F5F5F5;
  --color-gray: #C0C0C0;
}



/* ======= TITULOS ======= */
h1 { font-size: 36px; font-weight: 700; }
h2 { font-size: 28px; font-weight: 600; }
h3 { font-size: 22px; font-weight: 500; }
p  { font-size: 18px; }
small { font-size: 12px; color: #777; }

/* ======= BOTONES ======= */
.stButton>button {
  background-color: #FFD751;
  color: var(--color-dark);
  font-weight: 600;
  border-radius: 10px;
  border: none;
  padding: 0.6rem 1.5rem;
  transition: all 0.2s ease-in-out;
}

.stButton>button:hover {
  background-color: #FFD751;
  transform: scale(1.02);
}

/* ======= CONTENEDORES Y CARDS ======= */
.upload-container {
  border: 2px dashed var(--color-gray);
  border-radius: 16px;
  padding: 2rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease-in-out;
}

.upload-container:hover {
  border-color: var(--color-accent);
  background: rgba(255, 247, 0, 0.05);
}

/* ======= ESPACIADO ======= */
.section {
  margin: 2rem 0;
}

/* ======= EFECTO GLASSMORPHISM ======= */
.glass {
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

